*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --black-1:#404040;
    --black-2:#1e1f26;
    --light-1:#949ea8;
    --light-2:hsl(210,15%,35%);
    --rich:hsl(210,50%,72%);
    --highlight:hsl(25,70%,45%);
    --dark:#1b1e23;
    --dark1:#121212;
    --error:#CF6679;
    --GREEN:#03DAC6;
    --error2:#B00020;
    --grey:#212121;
    --grey-2:#303030;
    --grey-3:#424242;
    --redpin:#FF3F80;
}
html{
    font-size: 62.5%;
}
body{

    color:white;
    position: relative;
}
.row{
    display: flex;
}
.column{
    display: flex;
    flex-direction: column;
}
a{
    text-decoration: none;
}
.App{
    height:105vh;
    width:100%;


}
.none{
    display: none;
}
.h{
    height: 70vh;
}
.navbar{

    position: absolute;
    height: 100vh;
    background:rgba(0,0,0,0.9);
    border-right:.2px solid rgba(83, 62, 62, 0.5);
    transition: all 400ms cubic-bezier(.75,-0.5,0,1.75);
    left:-200px;
    


}
.nav_link{

    list-style: none;
    padding: 0;
    margin: 0;
    margin-top:9rem;
}
.nav_list{
   margin-bottom: 1.5rem;
   padding: 1.3rem .8rem;
   position: relative;
   z-index: 1;
}
.nav_list a i{
    color:#FF3366;
    margin-right: 1rem;
}
.nav_list a{
    color:rgba(254,254,254,0.8);
    font-size: 1.5rem;
    font-family: "Open Sans",sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    
    font-weight: 400;


}
.nav_list::before{
    content:'';
    position: absolute;
    width:0%;
    height:100%;
    background-color:#FF3366;
    left:0;
    top:0;
    z-index: -1;
    transition: all 400ms cubic-bezier(1, 0, 0, 1);

}
.active::before{
    width:.4rem;
    
}
.nav_list:hover::before{
    width:100%;
}
.nav_list:hover a{
    color:#fff;
}
.nav_list:hover i{
    color:black;
}
.App-feauture{
    flex:0 0 100%;
    background:var(--dark1);
    overflow-y: scroll;
    height: 100%;
}
.navbar:hover{
    border-right: .1px solid white;
}

/*main*/

.header{
    display: flex;
    justify-content: space-between;
    height:10vh;
    width: 100%;
    align-items: center;
    border-bottom: .1px solid rgba(254,254,254,0.2);
}
.width{
    display: flex;
    flex:0 0 33.3%;
}
.header .header_heading h1{
    font-family: fantasy;
    font-size: 3rem;
    font-weight: 100;
    color:white;
    margin-left: 2rem;
}
.profile{
    height: 100%;
    align-items: center;
}
.header .profile i{
    color:white;
    font-size: 2rem;
    display: flex;
    align-items: center;
    margin-right: 4rem;
}
.header_search input{
    border-radius: 100px;
    padding:.7rem 2rem;
    border: 1px solid #efefef;
    background:#f4f2f2;
    outline: none;
    margin-right: -3rem;
    transition: all 200ms linear;
    width: 50%;

}
.header_search input:focus + i{
    color:rgb(66, 133, 244);
}
.header_search input:focus{
    width:70%;
    border:1px solid #000;
    background: white;
}
.header_search input::-webkit-input-placeholder{
    color:#999;
    font-family: "Open Sans",monospace;
}
.header_search i{
    font-size:1.6rem;
    color: #212121;
    display: flex;
    align-items: center;
}
.profile{
    display: flex;
    justify-content: flex-end;
}
.profile i{
    margin-right: 2rem;
}

.greeting{
    margin-top:3rem;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.input-search{
    display: none;
}
.input-search input{
    border-radius: 100px;
    padding:.7rem 2rem;
    border: 1px solid #efefef;
    background:#f4f2f2;
    outline: none;
    margin-right: -2rem;
    transition: all 200ms linear;
    width: 100px;

}
.input-search i{
    display: flex;
    font-size: 1.2rem;
    align-items: center;
    justify-content: center;
    color:#212121;
}

.input-search input:focus + i{
    color:rgb(66, 133, 244);
}
.input-search input:focus{
    width:140px;
    border:1px solid #000;
    background: white;
}
.input-search input::-webkit-input-placeholder{
    color:#999;
    font-family: "Open Sans",monospace;
}
.greeting h1{
    font-size: 3.2rem;
    font-family: "Ubuntu",sans-serif;
    letter-spacing: 1px;
    font-weight: 400;
    margin-bottom: 4rem;
}
.username{
    display: none;
}
.greeting input{
    width:100px;
}
.image{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top:10rem;
    
}

.box{
    width:30%;
    height:300px;
    margin-right: 5rem;
    text-align: center;
    margin-bottom: 5rem;
}
.box img{

    height: 190px;
    width: 60%;
    border-radius:10px;
    border:1px solid rgba(255,255,255,.9);
    transition: all 450ms ease-in-out;

}

.box img:hover{
    transform: scale(1.1);
    filter:opacity(0.5);
}
.box h1{
    margin-top: 2rem;
    font-family: "Sriracha",cursive;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 3rem;
}
.profile .c{
    position: relative;

}
.header_heading i{
    margin-right: 2rem;
    
}
.new{
    position: absolute;
    display: flex;
    align-items: center;
    
    flex-direction: column;
    width: 100vw;
    left:0;
    z-index: 10000;
    transition: all 500ms linear;
}
.new ul{
    margin-top: 25%;
}
.profile .popups{
    position: absolute;
    top:0;
    padding: 5px 0;
    margin-left: -60px;
    left:50%;
    height:50px;
    width:80px;
    border-radius: 6px;

    background: white;
    color: black;
    display: none;
    
}
.popups::after{
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left:-5px;
    border-width:5px;
    border-style: solid;
    border-color:white; 
    clip-path: polygon(50% 0,0 100%,100% 100%);
    
}
.popups a{
    text-decoration: none;
    color:#212121;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-family: "Roboto Slab",monospace;
}
.popups{
    color:rgba(255,255,255,.8);
    transition: all 350ms linear;
}


.c{
    height: 100%;
    display: flex;
    align-items: center;
    transition: all 350ms linear;
}
.c:hover .popups{
    top:100%;
    display:flex;
    justify-content: center;
    align-items: center;

}








.popup{
    z-index: 10000;
    transition:all 500ms;
    opacity:0;
    visibility:hidden;
    height:100vh;
    width:100%;
    position:fixed;
    top:0;
    left:0;
    background-color:rgba(0,0,0,0.9);
    z-index:13000;
    
}


.popup_content{
  opacity:0;
  overflow-y: scroll;
  
  display:flex;
  flex-direction: column;
  align-items: center;
  width:50%;
  background-color:white;
  height:55rem;
  box-shadow:0 2rem 4rem rgba(0,0,0,0.2);
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%) scale(.5);
  border-radius:5px;
  transition:all 500ms .2s;
}
.popup_content::-webkit-scrollbar{
    width:10px;
}
.popup_content::-webkit-scrollbar-track{
    background: white;

}
.popup_content::-webkit-scrollbar-thumb{
    background:black;
    border-radius: 10px;

}
.popup_content::-webkit-scrollbar:hover{
    background: white;
}

html::-webkit-scrollbar{
    width:0px;
}
html::-webkit-scrollbar-track{
    background: black;

}
html::-webkit-scrollbar-thumb{
    background:black;
    border-radius: 10px;

}


.popup:target{
  opacity:1;
  visibility:visible;
} 
.li:link,.li:visited {
   font-size:40px;
   color:crimson;
   position:absolute;
   top:1rem;
   right:1rem;
   text-decoration:none;
   display:inline-block;

}
.popup:target .popup_content{
  opacity:1;
  transform:translate(-50%,-50%) scale(1);
}
.popup_content .images i{
    font-size: 8rem;
    color:black;
    
}
.images{
    margin-top:4rem;
    display: flex;
    flex-direction: column;
    line-height: 5;
    margin-bottom: 5rem;
}
.popup a{
    color:blue;
}

.details{

    display: flex;
    flex-direction: column;
}
.details input{
    margin-top: 2rem;
}
.details{
    margin-bottom: 2rem;
}
.details label{
    color:#212121;
    font-size: 1.5rem;
    font-family: "Roboto Slab",monospace;
    font-weight: 400;
}
.details input{
    border:none;
    font-size: 1.3rem;
    font-weight: 300;
    outline: none;
    border-bottom: 1px solid #ccc;
    font-family: "Roboto Slab",monospace;
}
.details textarea{
    outline: none;
    border: none;
    font-family:  "Roboto Slab",monospace;
    font-size: 1.3rem;
    font-weight: 300;
    border-bottom: 1px solid #ccc;
    margin-top: 2rem;
}
.button{
    text-align: center;
}
.button button{
    padding:9px;
    border:none;
    font-family: "Open Sans",sans-serif;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    background-color: #428bca;
    color: white;
    border-radius: 8px;
    outline: none;
    margin-bottom:2rem;
}


.navbar{
    position: absolute;
    transition: all 350ms linear,width 500ms linear;
    height: 100%;
}
.close i{
    position: absolute;
    top:20px;
    right:20px;
    font-size: 2rem;
    cursor: pointer;
    
}